.copiedNotification {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  background-color: rgb(64, 146, 64);
  color: white;

  padding: 12px 24px;

  border-radius: 50px;

  z-index: 10;

  animation: slideDown 0.3s ease-out;
}

.tooManyRequestsNotification {
  @extend .copiedNotification;
  background-color: rgb(204, 0, 0);
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
