.searchContent {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.searchContainer {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 600px;

  background-color: white;
  border: 2px solid #d1d1d1;
  border-radius: 50px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  padding: 4px 6px 4px 20px;

  transition: all 0.2s ease;

  &:focus-within {
    border-color: #919191;
    box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.1);
    transform: translateY(-1px);
  }

  &:hover {
    border-color: #b0b0b0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
  }
}

.searchInput {
  flex-grow: 1;

  border: none;
  outline: none;

  background: transparent;

  font-size: 1.5rem;

  color: #303030;

  &::placeholder {
    color: #8b8b8b;
  }
}

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  background-color: #1b1b1b;

  border: none;
  border-radius: 50%;

  width: 40px;
  height: 40px;

  margin-left: 8px;

  cursor: pointer;
  padding: 0;

  transition: background-color 0.2s;

  &:hover {
    background-color: #000;
  }

  &:active {
    transform: scale(0.95);
  }
}

.searchIcon {
  width: 18px;
  height: 18px;

  color: white;
}
