.searchContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.searchContainer {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #ccc;
  border-radius: 10px;

  padding-right: 30px;
}

.searchInput {
  width: 50%;

  padding: 10px;
  font-size: 30px;

  border: none;
  outline: none;

  flex-grow: 1;

  border-radius: 10px;

  background: white;

  color: black;
}

.searchIcon {
  position: absolute;
  right: 10px;
  color: #888;
}
