.content {
  width: 100%;
}

.trendingContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding: 20px;
  width: calc(100% - 20px);

  .masonryContainer {
    column-width: 320px;
    column-gap: 10px;

    contain: layout;
  }
}
