.trendingContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;

  span {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    width: 100%;
    // align-items: center;

    img {
      aspect-ratio: 4/3;
      object-fit: contain;

      height: auto;
      max-width: 25%;
    }
  }
}
